#仮想化(venv)のrkフォルダは除外
.venv/
.vscode/
#npm関連を除外
node_modules/

#暗号鍵　.pem、.jks
*.pem
*.jks

#特定の拡張子を除外
#例 *.exe

#特定のパターンを無視しない
#例 !/.nuget/nuget.exe

#フォルダ内の特定拡張子を無視
#例 package/**/*.ts

#フォルダそのものを残したい場合
#Git はファイルを管理しているだけなので、空のディレクトリのディレクトリ構造を保存できない。
#残しておきたいフォルダの中に .gitkeep というファイル名で空のファイルを作成すしてディレクトリを残す方法がある。
#このファイル名は何でもいい

################ gitignore公式のテンプレート（python） ##############
# https://github.com/github/gitignore/blob/master/Python.gitignore
#####################################################################
__pycache__/
