%c-grouping_select{
    //表示位置
    display       : block;
    //display: flex-start;

}

.c-grouping_select--type1{
    @extend %c-grouping_select;
    background-color: map-get($colors,search_conditions_background--type1); //文字色
}

.c-grouping_select--type2{
    @extend %c-grouping_select;
    background-color: map-get($colors,search_conditions_background--type2); //文字色
}