// .c-operation_menu{
// }

.c-operation_menu__postion{
    float: right;
    position: relative;
    right:2rem;
}

.c-operation_menu__nav {
    //位置
    position: absolute;

    //形
    //width        : auto;
    width        : 1.5rem;
    height       : 1.5rem;
    border-radius: 50%;     //円
    background   : map-get($colors,group_menu_background--type1);
    //border-radius: 0.5rem;
    box-shadow   : 0.1rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.25); //あとで@mixinで定義しよう。
    cursor       : pointer;
    //overflow     : hidden; //枠外をhidden属性にする。（選択できない、存在しないものとして扱う状態）
    transition   : all .6s cubic-bezier(0.19, 1, 0.22, 1);
    //テキスト
    padding-top: 0.1rem;
    padding-left: 0.3rem;

}

.c-operation_menu__ul {
    list-style  : none;
    padding-left: 1rem;
}

.c-operation_menu__li {
    padding-right: 0.5rem;
    width     : auto;
    text-align: left;
    opacity   : 0; //完全に透過状態
    transform : translateX(-10rem),translateY(-1rem); //上からリストの文字が移動してくるように動作
    transition: transform .6s cubic-bezier(0.19, 1, 0.22, 1),
        opacity .6s cubic-bezier(0.19, 1, 0.22, 1);
    color          : map-get($colors,group_menu_text--type1);
    font-weight    : 400;
    text-decoration: none;
}