{#共通のヘッダー#}
{% include "header.html" %}

{#% load static %#}
{#<img src="{% static 'saikutu/images/〜〜.gif' %}" alt="画像を表示のつもり">#}

<h4>採掘しよう！</h4>

<div>
    <fieldset id="search_conditions_top">
        <legend>検索条件入力欄</legend>
    </fieldset>

    <!--div id="search_conditions_top">
    </div-->
    <input type="button" value="検索" onclick="search_main('site')">
    <br>
    <a>表示する件数</a><input type="text" value="10" class="page_max_lines">
</div>

<h4>保管庫</h4>
<div class="hokanko"></div>

{#共通のフッター#}
{% include "footer.html" %}


<nav class="c-operation_menu u-margin--l80">
    <a class="c-operation_menu__title">…</a>
    <ul class="c-operation_menu__ul u-margin--tb30">
        <li class="c-operation_menu__li">Feed</li>
        <li class="c-operation_menu__li">Profile</li>
        <li class="c-operation_menu__li">New draft</li>
        <li class="c-operation_menu__li">Sign out</li>
    </ul>
</nav>